# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env
*.env

# Flask instance folder
instance/

# Database files
*.sqlite3
*.db

# Logs and debugging output
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Static files generated dynamically
static/
media/
